<html>
	<head>
		<title>Icon</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script type="text/javascript" src="icon.js"></script>
		<script type="text/javascript" src="lib/box2d.js"></script>

	</head>

	<body>
		<div style="position:relative">

			<canvas id="top" width="500" height="500" style="position: absolute; left: 0; top: 0; z-index: 2;"></canvas>
			<canvas id="middle" width="500" height="500" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
			<canvas id="back" width="500" height="500" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>

		</div>
	</body>
</html>